{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 140,
  "overrides": [
    {
      "files": ["*.ts"],
      "options": {
        "parser": "typescript"
      }
    }
  ],
  "semi": false
}
